<div id="carousel-cholo"
    class="carousel slide carousel-fade col-xl-5 col-xxl-6 d-none d-xl-block text-center" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-cholo" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel-cholo" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel-cholo" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner img-fluid rounded-3 my-5">
        <div class="carousel-item active">
            <img src="/images/cholo2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/cholo1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/grafitti2.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>