{{>nav}}

<section class="py-5 cholo-form">
    <div class="container px-5">
        <div class="cholo-form-section rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">¡Elije tus productos homie!</h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form id="contactForm" method="post" action="/escoger">
                        <!-- Procesador-->
                        <div class="form-floating mb-3">
                            <select id="proc" name="proc" class="form-control" placeholder="Procesador">
                                <option value="" disabled selected></option>
                                <option value="Procesador AMD Ryzen 5 5600G">AMD Ryzen 5 5600G</option>
                                <option value="Procesador AMD Ryzen 5 4600G">AMD Ryzen 5 4600G</option>
                                <option value="Procesador Intel Core i3-12100">Intel Core i3-12100</option>
                                <option value="Procesador Intel Core i3-13100">Intel Core i3-13100</option>
                            </select>
                            <label for="proc">Procesador</label>
                        </div>

                        <!-- Tarjeta Madre-->
                        <div class="form-floating mb-3">
                            <select id="tarMad" name="tarMad" class="form-control" placeholder="Tarjeta Madre">
                                <option value="" disabled selected></option>
                                <option value="Tarjeta Madre Gigabyte A520M H">Gigabyte A520M H</option>
                                <option value="Tarjeta Madre MSI B550M PRO-VDH WIFI">MSI B550M PRO-VDH WIFI</option>
                            </select>
                            <label for="tarMad">Tarjeta Madre</label>
                        </div>

                        <!-- RAM-->
                        <div class="form-floating mb-3">
                            <select id="ram" name="ram" class="form-control" placeholder="RAM">
                                <option value="" disabled selected></option>
                                <option value="Memoria RAM DDR4 4GB">4GB</option>
                                <option value="Memoria RAM DDR4 8GB">8GB</option>
                                <option value="Memoria RAM DDR4 16GB">16GB</option>
                                <option value="Memoria RAM DDR4 32GB">32GB</option>
                            </select>
                            <label for="ram">RAM</label>
                        </div>

                        <!-- Memoria SSD-->
                        <div class="form-floating mb-3">
                            <select id="ssd" name="ssd" class="form-control" placeholder="Memoria SSD">
                                <option value="" disabled selected></option>
                                <option value="SSD 256GB">256GB</option>
                                <option value="SSD 512GB">512GB</option>
                                <option value="SSD 1TB">1TB</option>
                                <option value="SSD 2TB">2TB</option>
                            </select>
                            <label for="ssd">Memoria SSD</label>
                        </div>

                        <!-- Fuente de Poder-->
                        <div class="form-floating mb-3">
                            <select id="power" name="power" class="form-control" placeholder="Fuente de Poder">
                                <option value="" disabled selected></option>
                                <option value="Fuente de Poder Munfrost Power Box GP-500">500w</option>
                                <option value="Fuente de Poder 850 B5 EVGA">850w</option>
                                <option value="Fuente de poder Corsair RM1000x">1000w</option>
                            </select>
                            <label for="power">Fuente de Poder</label>
                        </div>

                        <!-- Gabinete-->
                        <div class="form-floating mb-3">
                            <select id="gabinete" name="gabinete" class="form-control" placeholder="Gabinete">
                                <option value="" disabled selected></option>
                                <option value="Gabinete DEEPCOOL CH510 MESH DIGITAL">DEEPCOOL CH510 MESH
                                    DIGITAL Micro-ATX</option>
                                <option value="Gabinete Xzeal XZ100">Gabinete Xzeal XZ100 Micro-ATX
                                </option>
                                <option value="Gabinete Fractal Design Torrent Compact">Fractal Design Torrent Compact
                                    Micro-ATX</option>
                            </select>
                            <label for="gabinete">Gabinete</label>
                        </div>

                        <div class="form-floating mb-3">
                            <small>
                                <strong>
                                    <center>¡OJO! Este proceso puede tardar algunos minutos...</center>
                                </strong>
                            </small>
                        </div>

                        <!-- Boton de Envío-->
                        <div class="d-grid">
                            {{!-- <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Buscar
                                Productos</button> --}}
                            <button class="btn-lg" type="submit" id="submitButton">
                                <div class="svg-wrapper-1">
                                    <div class="svg-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                            height="24">
                                            <path fill="none" d="M0 0h24v24H0z"></path>
                                            <path fill="currentColor"
                                                d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                                <span>Send</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{>footer}}