.bg-cholo1{
  background-image: url('/images/grafitti4.jpg');
  background-position: center center;
  background-size: cover;
}

.bg-cholo-txt{
  background-color: rgba(0, 0, 0, 0.789);
  border-radius: 10px;
}

.carousel-item > img{
  background-size: contain;
  height: 250px;
  background-position: center center;
}

.cholo-quote{
  background-image: url('/images/cholo3.jpg');
  background-size: contain;
  height: 40px;
  width: 40px;
}

.cholo-form{
  background-image: url('/images/grafitti4.jpg');
  background-size: cover;
  background-position: center;
}

.cholo-form-section{
  background-color: rgba(255, 255, 255, 0.763);
}

/* BOTON ENVIO FORMULARIO ------------------------------- */
button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(.5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #818383;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6c7374;
}