.bg-cholo1{
  background-image: url('/images/grafitti4.jpg');
  background-position: center center;
  background-size: cover;
}

.bg-cholo-txt{
  background-color: rgba(0, 0, 0, 0.789);
  border-radius: 10px;
}

.carousel-item > img{
  background-size: contain;
  height: 250px;
  background-position: center center;
}

.cholo-quote{
  background-image: url('/images/cholo3.jpg');
  background-size: contain;
  height: 40px;
  width: 40px;
}